<%- include('../partials/header.ejs') %>

<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: red;color: white;
                                margin-top: 300px;
                                margin-bottom: 50px;">
        <h1>ROUTING ERROR</h1>
    </div>
    <form action="/">
        <button class="btn btn-lg btn-warning"> <- HOME</button>
    </form>
</div>
</div>
<%- include('../partials/footer.ejs') %>